body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
body {
    background-color: #002333;
    
}

#navcustom{
    background-color: #002333;
    
}
.img1{
    width: 500px;
}

@media screen and (max-width: 500px) {
    .img1{
        width: 320px;
    }
}
.rowt1{
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid; 
    border-top-width:7px ;
    border-bottom-width:7px ;
    border-color: #ffffff;
}
.rowt2{
    border-style: solid; border-top-width:7px ; 
    border-bottom-width:7px ;
    border-color: #002333;
    color: #ffffff;
}
.div1table {
    background-color: rgb(255, 255, 255);
    width: 150px;
    text-align: center; 
    padding: 8px; 
    font-size: 23px;
    border-radius: 17px;
}

.div2table {
    background-color: rgb(255, 255, 255);
    width: 120px;
    text-align: center; 
    padding: 8px; 
    font-size: 23px;
    border-radius: 17px;
}

.t2button{
    background-color: #fafafa;
    font-size: 20px; 
    font-weight: 700;
    width: 80px;
    border-radius: 20px;
}


.t1button{
    background-color: #002333;
    font-size: 20px; 
    font-weight: 700;
    width: 80px;
    border-radius: 20px;
}


td th {
    font-size: large; 
    font-weight: 700;
}
@media screen and (max-width: 572px) {
    .div1table {
        background-color: rgb(255, 255, 255);
        width: 150px;
        text-align: center; 
        padding: 8px; 
        font-size: 16px;
        border-radius: 17px;
    }
    
    .div2table {
        background-color: rgb(255, 255, 255);
        width: 120px;
        text-align: center; 
        padding: 8px; 
        font-size: 16px;
        border-radius: 17px;
    }

    td th{
        font-size:1px;
      
     
    }
}

.sched{
    font-family: 'Montserrat', sans-serif;  
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 96px;
letter-spacing: 0em;
text-align: center;
color: #01ff85;
}

.sched2{
    font-family: 'Montserrat', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 58px;
letter-spacing: 0em;
text-align: center;
color: #01ff85;
text-decoration: underline;

}

.gretbut {

  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
  border-color:#01ff85;
  border-style: solid;
  background-color: #ffffff;
  color: #002333;
  border-radius: 40px;
  
  }
  